[diff]
    tool = meld
[merge]
    conflictstyle = diff3
[core]
    pager = less -X
[color]
    status = auto
    branch = auto
    diff = auto
    grep = auto
[user]
    name = Alexander Burkov
    email = alex.burkov@motorolasolutions.com
[alias]
    st = status
    co = checkout
    ci = commit
    gr = log --all --oneline --graph --decorate
[push]
    default = simple
