# ignore all
*

# git
!.gitconfig
!.gitignore

# gdb
!.gdbinit

# zsh
!.zshrc

# emacs
!bin
!bin/diff-highlight

# vim
!.vim
!.vim/ru_keyboard_mappings
!.vim/colors
!.vim/colors/darkspectrum.vim
!.vim/colors/xoria256.vim

#emacs
!.emacs.d
!.emacs.d/init.el
!.emacs.d/color-themes/
!.emacs.d/color-themes/themes
!.emacs.d/color-themes/themes/xoria256.el
