[diff]
    tool = opendiff
[merge]
    conflictstyle = diff3
[mergetool "meld"]
    cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[core]
    editor = vim
    pager = less -X
    excludesfile = /Users/brk/.gitignore_global
[color]
    status = auto
    branch = auto
    diff = auto
    grep = auto
[user]
    name = Alexander Burkov
    email = abu@exante.eu
[alias]
    st = status
    br = branch
    co = checkout
    ci = commit
    gr = log --all --oneline --graph --decorate
[push]
    default = simple
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
